# Ignore the virtual environment folder
venv/
env/
__pycache__/

# Ignore Mac system files
.DS_Store

# Ignore raw data (users can run the script to download it themselves)
*.csv

# BUT keep the images for your README!
!accuracy_comparison.png
!feature_importance.png